<header>
  <h1 class="weatherForecast">Weather Forecast</h1>
</header>
<div class="content">
  <div class="map_and_weather">
    <div id="map" class="map"></div>
    <div class="weather">
      <div class="weather-main-parameter">
        <h1>{{currentDate}}</h1>
        <img src="/assets/sunny_cloudy.png" width="128px">
        <h1>{{getWeather(reportModel.weather[0].description)}}</h1>
      </div>
      <h1 class="point-location">{{location}}</h1>
      <div class="weather-additional-parameters">
        <div class="weather-parameter">
          <img src="/assets/temp.png" width="50px">
          <p>{{getRound(reportModel.main.temperature, 0)}}°C</p>
        </div>
        <div class="weather-parameter">
          <img src="/assets/water.png" width="30px">
          <p>{{reportModel.main.humidity}}%</p>
        </div>
        <div class="weather-parameter">
          <img src="/assets/wind.png" width="50px">
          <p>{{getRound(reportModel.wind.speed, 2)}} km/h</p>
        </div>
      </div>
    </div>
  </div>
  <div class="forecast">
    <div *ngFor="let i of getRange(7)" class="weather-predict">
      <h1>{{getNextDate(i + 1)}}</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p><b>{{getMax(predictionModel.minTemperature[i], predictionModel.maxTemperature[i])}}°/{{getMin(predictionModel.minTemperature[i], predictionModel.maxTemperature[i])}}°</b></p>
        <p>{{getRoundAbs(predictionModel.maxWindSpeed[i], 2)}} km/h</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>IASA Champ 24 | Modern Crusaders 2024</p>
</footer>  