<header>
  <h1 class="weatherForecast">Weather Forecast</h1>
</header>
<div class="content">
  <div class="map_and_weather">
    <div class="map">
      
    </div>
    <div class="weather">
      <div class="weather-main-parameter">
        <h1>01.02.2024</h1>
        <img src="/assets/sunny_cloudy.png" width="128px">
        <h1>Sunny</h1>
      </div>
      <div class="weather-additional-parameters">
        <div class="weather-parameter">
          <img src="/assets/temp.png" width="50px">
          <p>-1°C</p>
        </div>
        <div class="weather-parameter">
          <img src="/assets/water.png" width="30px">
          <p>20%</p>
        </div>
        <div class="weather-parameter">
          <img src="/assets/wind.png" width="50px">
          <p>18 km/h</p>
        </div>
      </div>
    </div>
  </div>
  <div class="forecast">
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
    <div class="weather-predict">
      <h1>01.02.2024</h1>
      <img src="/assets/sunny_cloudy.png" width="100px">
      <div class="parameters">
        <p>-1°C</p>
        <p>18 km/h</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <p>IASA Champ 24 | Modern Crusaders 2024</p>
</footer>  